langchain
langchain-community
langchain_mistralai
langchain-huggingface
streamlit
sentence-transformers
pypdf
mistralai
watchdog
faiss-cpu
fastapi
uvicorn[standard]
python-multipart
pydantic
requests
torch
transformers